body {
	background: black;
}
.logo img {
  width:250px;
  padding-top: 5px;
  padding-left: 5px;
  bottom:0px;
  margin-right: auto;
  margin-left: auto;
  float:center;
  display:inherit;
}
.main {
  background-color: white;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  background-image:url('../images/background.jpg');
}
.ryu, .ryu-cool {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  float: left;
  display: none;
  position: relative;
  left: 490px;
  bottom: 325px;
}
.directions {
  display: inherit;
  position: absolute;
  bottom: 5px;
  float: center;
  margin-right: auto;
  margin-left:auto;
  margin-top: 20px;
  /* background-color: white; */
  /* opacity: .5; */
  padding: 40px;
  padding-right: 100px;
  text-align: center;
}
.directions p{
  padding-top: 5px;
  font-size: 20px;
  color: white;
}
